.cell {
  width: 113px;
  height: 113px;
  cursor: pointer;
  perspective: 600px;
  border: 2px solid transparent;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cell.open .inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
font-size: 16px;
line-height: 120%;
  border-radius: 8px;
}

.front {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  color: white;
}

.back {
  background-image: url("src/assets/bgCash.png");
  color: white;
  transform: rotateY(180deg);

  .cash {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .bomb {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("src/assets/bgBomb.png");
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .zero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("src/assets/bgZero.png");
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .x2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("src/assets/bgX2.png");
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.highlight {
  box-shadow: 0 0 12px 4px #82e02481;
  border: 2px solid #82E024;
  border-radius: 8px;
}

.flyingCash {
  position: fixed;
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.6s ease-in-out, left 0s, top 0s;
}
