.remaining {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;

  @media (max-width: 428px) {
    margin-bottom: 28px;
    gap: 16px;
  }

  @media (max-width: 360px) {
    margin-bottom: 24px;
    gap: 12px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;

  span {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: white;

    @media (max-width: 428px) {
      font-size: 14px;
    }

    @media (max-width: 360px) {
      font-size: 12px;
    }
  }
}

.icon {
  width: 32px;
  height: 32px;

  @media (max-width: 428px) {
    width: 28px;
    height: 28px;
  }

  @media (max-width: 360px) {
    width: 26px;
    height: 26px;
  }
}

.x2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #365fb2;
  padding: 4px;
  width: 33px;
  height: 28px;
}

.zero img {
  width: 32px;
  height: 32px;
  @media (max-width: 428px) {
    width: 28px;
    height: 28px;
  }

  @media (max-width: 360px) {
    width: 26px;
    height: 26px;
  }
}

.bomb img {
  width: 32px;
  height: 32px;
  @media (max-width: 428px) {
    width: 28px;
    height: 28px;
  }

  @media (max-width: 360px) {
    width: 26px;
    height: 26px;
  }
}

.stop img {
  width: 32px;
  height: 32px;
  @media (max-width: 428px) {
    width: 28px;
    height: 28px;
  }

  @media (max-width: 360px) {
    width: 26px;
    height: 26px;
  }
}
