.remaining {
  display: flex;
  justify-content: center;
  gap: clamp(12px, 5vw, 24px);
  margin-bottom: clamp(24px, 7vw, 32px);
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;

  span {
    font-weight: 700;
    font-size: clamp(12px, 4vw, 16px);
    line-height: 120%;
    color: white;
  }
}

.icon {
  width: clamp(26px, 8vw, 32px);
  height: clamp(26px, 8vw, 32px);
}

.x2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #365fb2;
  padding: 4px;
  width: 33px;
  height: 28px;
}

.zero img {
  width: clamp(26px, 8vw, 32px);
  height: clamp(26px, 8vw, 32px);
}

.bomb img {
  width: clamp(26px, 8vw, 32px);
  height: clamp(26px, 8vw, 32px);
}

.stop img {
  width: clamp(26px, 8vw, 32px);
  height: clamp(26px, 8vw, 32px);
}
