.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: #fff;

  .logo {
    width: 61px;
    height: 35px;
    margin-top: 50px;
    margin-bottom: 66px;

    @media (max-width: 428px) {
      margin-top: 40px;
      margin-bottom: 58px;
    }

    @media (max-width: 360px) {
      margin-top: 32px;
      margin-bottom: 46px;
    }
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;

    .title {
      font-weight: 800;
      font-size: 24px;
      line-height: 100%;
      text-align: center;
      color: #fff;
    }

    @media (max-width: 428px) {
      margin-bottom: 28px;
      .title {
        font-size: 20px;
      }
    }

    @media (max-width: 360px) {
      margin-bottom: 20px;
      .title {
        font-size: 14px;
      }
    }

    .line {
      width: 126px;
      height: 1px;
      background: rgba(255, 255, 255, 0.4);

      @media (max-width: 428px) {
        width: 100px;
      }

      @media (max-width: 360px) {
        width: 90px;
      }
    }
  }

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;

    @media (max-width: 428px) {
      margin-bottom: 32px;
    }

    @media (max-width: 360px) {
      margin-bottom: 26px;
    }

    .x2 {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 46px;
      transform: translateХ(-50%);
      background: #3973e5;
      color: #fff;
      border-radius: 8px;
      width: 33px;
      height: 28px;
      font-weight: 800;
      font-size: 20px;
      line-height: 100%;
      pointer-events: none;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .pop {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    .balance {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 800;
      font-size: 32px;
      line-height: 100%;

      .icon {
        width: 40px;
        height: 40px;
      }

      @media (max-width: 428px) {
        font-size: 26px;

        .icon {
          width: 36px;
          height: 36px;
        }
      }

      @media (max-width: 360px) {
        font-size: 22px;

        .icon {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
