.app {
  height: 926px;
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 428px;
  height: clamp(634px, 150vw, 926px);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, clamp(85px, 22vw, 113px));
  gap: clamp(4px, 2vw, 8px);
  margin-bottom: clamp(24px, 7vw, 32px);
}

.claimBtn {
  background: linear-gradient(180deg, #6dbf1d 0%, #498013 100%);
  color: white;
  border-radius: 8px;
  padding: 7px 16px 9px 16px;
  width: clamp(262px, 80vw, 348px);
  height: clamp(40px, 12vw, 48px);
  font-weight: 800;
  font-size: clamp(15px, 4.5vw, 18px);
  line-height: 100%;
  text-align: center;
  transition: 0.2s;

  &:disabled {
    border: 1px dashed rgba(255, 255, 255, 0.2);
    background: transparent;
    color: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
  }
}

.flyingCash {
  position: fixed;
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.6s ease-in-out;
  transform: translate(0, 0);
}

.animate {
  transform: translate(var(--dx), var(--dy));
}
