.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  width: 428px;
  height: 100%;
  backdrop-filter: blur(16px);
  background: rgba(0, 0, 0, 0.253);
  border-radius: 0;
  text-align: center;
  color: white;
  padding: clamp(12px, 4vw, 20px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 61px;
    height: 35px;
    margin-top: 50px;
    margin-bottom: clamp(40px, 15vw, 170px);
  }

  .title {
    font-weight: 700;
    font-size: clamp(18px, 6vw, 24px);
    line-height: 100%;
    color: #fff;
  }
  .titleDenger {
    text-shadow: 0 1px 9px 0 #fe2c55;
  }
  .titleGameOver {
    text-shadow: 0 1px 9px 0 #fff;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    width: 274px;
    margin-inline: auto;
  }
  .iconModal {
    width: 96px;
    height: 96px;
    margin-top: 44px;
    margin-bottom: 16px;
    margin-inline: auto;
  }
  .cash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
  }
  .btn {
    display: flex;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #6dbf1d 0%, #498013 100%);
    gap: 4px;
    block-size: border-box;
    width: clamp(140px, 40vw, 194px);
    height: clamp(40px, 12vw, 48px);
    font-weight: 800;
    font-size: clamp(14px, 5vw, 18px);
    line-height: 100%;
    color: rgba(255, 255, 255, 0.8);
    transition: background 0.5s ease-in-out;

    &:hover {
      background: #999;
    }
  }
  .btnHit {
    background: linear-gradient(180deg, #ff5858 0%, #993535 100%);
  }
  .btnDef {
    background: linear-gradient(180deg, #ad69ff 0%, #6723cd 100%);
  }
}

.actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
  }

  button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
}

.shareBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 194px;
  gap: 8px;

  .btnShare,
  .btnTelegram,
  .btnWhatsapp {
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    flex: none;
    background: transparent;
    padding: 0;
    width: 38px;
    height: 38px;
    transition: scale 0.5s ease-in-out;

    :hover {
      scale: 1.1;
    }
  }

  img {
    width: 38px;
    height: 38px;
    object-fit: contain;
  }
}
