:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-self: center;
}

h1 {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  background: linear-gradient(180deg, #6dbf1d 0%, #498013 100%);
  font-family: inherit;
  background: inherit;
  cursor: pointer;
  transition: background 1s ease;
}
button:hover {
  background: #666565;
}
